
.DS_Store

Facebook Messenger.xcodeproj/project.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate

Facebook Messenger/Facebook Messenger.xcodeproj/project.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate

Facebook Messenger/Facebook Messenger.xcodeproj/project.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate
